[submodule "frontend"]
	path = frontend
	url = https://github.com/siddsaran/fitness-calendar-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/siddsaran/fitness-calendar-backend.git
